{% load tz %}

{% block content %}
<style media="screen">
  .hide-form {
    visibility: hidden;
    height: 0;
  }
</style>


<h5>Comments</h5>
{% for comment in song.playlist_comments %}
  <div id="comment{{ comment.id }}" class="playlist-comment">
    <h6>{{comment.date_created|timezone:"America/Los_Angeles"}}</h6>
    <p id="commentText{{ comment.id }}" class="comment-text">{{ comment.comment_text }}</p>
    <button id="commentEditBtn{{ comment.id }}" type="button" class="btn-box commment-button"
        onClick="toggleFormVis('commentEditBtn{{ comment.id }}','commentEditor{{comment.id}}', 'Edit Comment')" data-interacted='false'>
      Edit Comment
    </button>
    <div id="commentEditor{{ comment.id }}" class="hide-form comment-submit-form" action="" method="post"
        data-playitem-id="{{ song.playid }}"
        {% if song.playtype.playtypeid == 4 %}
          data-playitem-name="Airbreak"
        {% else %}
          data-playitem-name="{{ song.track.name }}"
        {% endif %}
        data-playitem-airdate="{{ song.airdate_datetime }}"
        data-comment-id="{{ comment.id }}">
      <textarea class="comment-text" name="comment_text" rows="4" cols="60" maxlength="2000">{{comment.comment_text}}</textarea>
      <input type="button" class="btn-box comment-btn" value="Submit Comment Edit"
        onClick="commentPost(event, 'commentEditor{{ comment.id }}')">
      <span class='help-text'></span>
    </div>
  </div>
{% empty %}
  <p></p>
{% endfor %}
<div id="newCommentContainer{{ song.playid }}" class="comment-new-insert-container"></div>


{# new comment submission form (assumes placed within a forloop) #}
{# hide/show button for new comment#}
<button id="commentNewFormBtn{{ forloop.counter }}" type="button" class="btn-box comment-btn"
    onClick="toggleFormVis('commentNewFormBtn{{ forloop.counter }}','commentCreator{{ forloop.counter }}', 'Create New Comment')" data-interacted='false'>
  Create New Comment
</button>
<div id="commentCreator{{ forloop.counter }}" class="hide-form comment-submit-form" action="" method="post"
    data-new-form-counter = "{{ forloop.counter }}"
    data-playitem-id="{{ song.playid }}"
    {% if song.playtype.playtypeid == 4 %}
      data-playitem-name="Airbreak"
    {% else %}
      data-playitem-name="{{ song.track.name }}"
    {% endif %}
    data-playitem-airdate="{{ song.airdate_datetime }}"
    data-comment-id="0">
  <textarea class="comment-text" name="comment_text" rows="4" cols="60" minlength="1" maxlength="2000"></textarea>
  <input type="button" class="btn-box comment-btn" value="Submit New Comment"
    onClick="commentPost(event, 'commentCreator{{ forloop.counter }}')">
  <span class='help-text'></span>
</div>


{% endblock %}
